body{
    margin: 0;
    padding: 0;
}
/* menu bar */
nav{
    display: flex;
    justify-content: space-around;
    background: teal;
} 
ul li{
    list-style-type: none;
    margin-top: 13px; 
    float: right;
}
ul li a{
    text-decoration: none;
    color: white;
}
ul li a{
    font-family: 'Mochiy Pop One', sans-serif;
    padding: 0px 15px;
    font-size: 20px;
}
nav img{
    width: 200px;
}
ul li a:hover{
    color: springgreen;
}
.dw {
    background: teal;
    width: 50%;
    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 10px 5px;
    cursor: pointer;
}
.dw button i{
    color: white;
}
.dw a{
    text-decoration: none;
    color: white;
}
.dw button:hover{
    background: orange;
    cursor: pointer;
}
.dw:hover{
    background: orange;
}
/* home page */
/* //// */
/* //// */



/* responsive for laptop */
@media (min-width:901px)  {
    .container-h{
        display: flex;
    }
    .text-h{
        margin-top: 15vh;
    }
    .text-h p{
        font-family: 'Patrick Hand', cursive; 
    }
    .dw{
        width: 20%;
        margin-left: 20vh;
    }
    .image-h img{
        height: 40vh;
        width: 40vh;
    }
}


/* respnsive for tablet */
@media (max-width:900px) {
    
    .container-h{
        width: 100%;
        margin: 0 auto;
        
    }
    .mp{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-h  {
        text-align: center;
    }
    .my-pic{
        height: 40vh;
        width: 30vh;
        position: relative;
        bottom: 4vh;
    }
    .text-h p{
        font-family: 'Patrick Hand', cursive; 
    }

    .text-h img{
        display: grid;
    }
    .my-name{
            font-family: 'Fruktur', cursive; 
            color: teal;
            font-weight: bold;
    }
    .image-h img{
        width: 50vh;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        margin-top: 20px;
    }
    .dw-full{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dw {
        width: 20%;
    }
    nav{
        display: grid;
    }
    nav ul li a{
        margin: 0 10px;
        font-size: 25px;
    }
    .fot{
        display: grid;
    }
    .full-icons{
        margin: 0 auto;
    }
    .menu-img1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-h{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .dw{
        width: 30%;
    }
    
    
}
/* ////////////////// */
/* footer */
.footer-icons{
    font-size: 50px;
    padding: 5px  10px;
}
footer{
    
    background: teal;
    display: flex;
    justify-content: space-around;
}
.text-footer{
        font-family: 'Mochiy Pop One', sans-serif;
    font-size: 20px;
}
.footer-icons:hover{
    color: orange;
    cursor: pointer;
}
/* footer */




/* for phone*/
@media  (max-width:600px) {
    .text-h{
        margin: 0 auto;
        width: 98%;
        display: grid;
    }
    .menu-img1{
        margin: 0 auto;    
    }
    .full-icons{
        margin: 0 auto;
    }
    .mp{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .my-pic{
        height: 40vh;
        
    }
    .text-h p{
        font-family: 'Patrick Hand', cursive;

    }
    .text-h{
        width: 95%;
    }
    .image-h img{
        height: 20vh;
        width: 30vh;

    }
    .image-h{
        display: grid;
        justify-content: center;
        gap: 5px;
        align-items: center;
    }
    .my-name{
        font-family: 'Fruktur', cursive; 
        color: teal;
    }
    footer{
        display: grid;
        
    }
    .dw-full{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav ul li{
        display: grid;
    }

}

/* about me page */
/*  */
/*  */
/*  */


/* /////// */
/* /////// */
/* for phone */
@media (max-width:600px) {
    nav{
        display: grid;
        grid-template-columns: 1fr;
    }
    nav ul li a{
        font-size: 25px;
    }
    .header-r{
        font-size: 25px;
        color: white;
    }
    .menu-img1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-a{
        width: 100%;
        display: grid;
        
    }
    .text-row span{
        font-family: 'Patrick Hand', cursive;
        font-size: 15px;
    }
    .container-a .left-sl {
        text-align: center;
        width: 100%;
        background: rgb(78, 215, 224);
    }
    .describe-myself{
        font-family: 'Patrick Hand', cursive;
        font-size: 20px;
        color: rgb(94, 91, 91);
        width: 98%;
    } 
    .right-sr  .header-a {
       font-family: sans-serif;
        font-size: 20px;
        width: 140%;
        color: orange;
        text-align: center;
    }
    .detail{
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;

    }
    .right-sr{
        width: 70%;
    }
    .photo{
        display: grid;
    }
    .photo img,video{
        width: 140%;
    }
    .text-row span{
        font-family: 'Patrick Hand', cursive;
        font-size: 20px;
    }
    .btn-about{
        padding: 10px 5px;
        border: none;
        border-radius: 10px 5px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    .btn-about i{
        margin-left: 10px;
    }
    .btn-about a{
        text-decoration: none;
        color: white;
    }
    .btn-about:hover{
        background: orange;
    }
    .left-sl .header-a{
        color: whitesmoke;
        font-size: 25px;
    }
    
}
/*  */
/*  */
/* for taplet */
@media screen and (min-width:601px) and (max-width:900px) {
    .container-a{
        display: grid;
        width: 95%;
    }
    .container-a .left-sl {
        text-align: center;
        width: 105%;
        background: rgb(78, 215, 224);
    }
    .describe-myself{
        font-family: 'Patrick Hand', cursive;
        font-size: 20px;
        color: rgb(94, 91, 91);
        width: 98%;
    } 
    .photo{
        display: grid;
    }
    nav a img{
        margin: 0 auto;
        width: 100%;
    }
    nav ul li a{
        font-size: 30px;
    }
    .left-sl{
        width: 100%;

    }
    .text-row span{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
    }
    .describe-myself{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    .right-sr{
        display: grid;
        width: 100%;
        justify-content: center;
        align-items: center;
        
    }
    .right-sr .header-a{
        color: orange;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 30px;
    }
    .header-a .photo{
        position: relative;
    }
    .photo img,video{
        width:100%;
    }
    .btn-about{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .btn-about a{
        padding: 10px 30px;
        border: none;
        border-radius: 10px 3px;
        text-decoration: none;
        color: white;
        margin-bottom: 5px;
        background: teal;
        display: flex;
        align-items: center;
    }
    .btn-about i{
        margin-left: 15px;
    }
    footer{
        display: grid;
    }
    .btn-about a:hover{
        background: orange;
    }
    .detail{
        font-size: 25px;
        font-family: 'Patrick Hand', cursive;

    }

}
/* for laptop */
@media (min-width:901px) {
    .container-a{
        width: 95%;
    }
    .left-sl{
        width: 90%;
        background: teal;
    }
    .right-sr{
        width: 100%;
    }
    .btn-about{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-a{
        color: orange;
        font-size: 30px;
    }
    .btn-about a{
        padding: 15px 50px;
        border: none;
        border-radius: 10px 3px;
        text-decoration: none;
        color: white;
        margin-bottom: 5px;
        background: teal;
        display: flex;
        align-items: center;
    }
    .photo img,video{
        width: 80vh;
    }
    .fa-download{
        margin-left: 10px;
    }
    .describe-myself{
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    .detail{
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    .text-footer p{
        font-size: 25px;
    }
    .text-row span{
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    nav ul li a{
        font-size: 30px;
    }
    .btn-about a:hover{
        background: orange;
    }
    
}

/* contact page */
/* //////// */
/* //////// */
/* //////// */
@media (min-width:901px) {
    .banner{
        margin-top: 30px;
        width: 97%;
        margin: 0 auto;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    .full-contact{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .container-c{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        width: 95%;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        gap: 10px;
    }
    .form-checkbox{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contact{
        padding: 9px 0;
        width: 40%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .call-me{
        width: 40%;
        text-align: center;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        /* padding: 5px 0; */
    }
    .full-form{
        padding: 10px;
        border: none;
        border-bottom: orange 1px solid;
        background: none;
        width: 90%;
    }
    ::placeholder{
        color: black;
    }
    .form p{
        color: teal;
    }
    .phone{
        text-align: center;
    }
    textarea{
        border: orange 1px solid;
        width: 98%;
        height: 20vh;
        
    }
    .full-contact p{
        color: teal;
    }
    .number p{
        margin-left: 10px;
        color: orange;
    }
    .loa {
        color: teal;
    }
    .text-loa{
        color: orange;
    }
    footer{
        width: 100%;
        margin-top: 70px;
    }
    .form p{
        color: orange;
    }
   
}
/* for taplet */
/* //// */
/* //// */
@media (max-width:900px) {
    .container-c{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    nav{
        display: grid;
    }
    footer{
        display: grid;
    }
    .contact{
        border-right: 2px black solid;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .full-contact p{
        color: teal;
    }
    .number p{
        margin-left: 10px;
        color: orange;
    }
    .loa {
        color: teal;
    }
    .text-loa{
        color: orange;
    }
    .call-me{
        display: grid;
        
    }
    .full-contact{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .call-me{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .phone{
        text-align: center;
        font-size: 25px;
        color: teal;
    }
    .location{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    .current-location{
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .loa{
        font-size: 25px;
    }
    .name-simcard p{
        color: teal;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    textarea{
        
        height: 20vh;
        width: 50vh;
        border: none;
        border-bottom: orange 1px solid;
        border-radius: 10px 5px;
        border-left: 1px orange solid;
        border-right: 1px orange solid;
    }
    .form .full-form{
        width: 100%;
        padding: 15px;
        border-radius: 10px;
        border: none;
        border-bottom: 1px orange solid;
    }
    .map iframe{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form p{
        font-size: 25px;
        color: teal;
    }
    .form-checkbox{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: teal;
    }
    
} 
/* for phone */
/* ///// */
/* ///// */
/* ///// */
@media (max-width:600px){
    .container-c{
        display: grid;
        grid-template-columns: 1fr;
    }
    .contact{
        /* background: #000; */
        border: none;
    }
    .form{
        width: 100%;
    }
    textarea{
        width: 100%;
    }
    .text-loa{
        width: 100%;
    }
    
}