body{
    margin: 0;
    padding: 0;
}
/* menu bar */
nav{
    display: flex;
    justify-content: space-around;
    background: teal;
} 
ul li{
    list-style-type: none;
    margin-top: 13px; 
    float: right;
}
ul li a{
    text-decoration: none;
    color: white;
}
ul li a{
    font-family: 'Mochiy Pop One', sans-serif;
    padding: 0px 15px;
    font-size: 20px;
}
nav img{
    width: 200px;
}
ul li a:hover{
    color: springgreen;
}
.dw {
    background: teal;
    width: 50%;
    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 10px 5px;
    cursor: pointer;
}
.dw button i{
    color: white;
}
.dw a{
    text-decoration: none;
    color: white;
}
.dw button:hover{
    background: orange;
    cursor: pointer;
}
.dw:hover{
    background: orange;
}

/* responsive for laptop */
@media (min-width:901px)  {
    .container-h{
        display: flex;
    }
    .text-h{
        margin-top: 15vh;
    }
    .text-h p{
        font-family: 'Patrick Hand', cursive; 
    }
    .dw{
        width: 20%;
        margin-left: 20vh;
    }
    .image-h img{
        height: 40vh;
        width: 40vh;
    }
}


/* respnsive for tablet */
@media (max-width:900px) {
    
    .container-h{
        width: 100%;
        margin: 0 auto;
        
    }
    .mp{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-h  {
        text-align: center;
    }
    .my-pic{
        height: 40vh;
        width: 30vh;
        position: relative;
        bottom: 4vh;
    }
    .text-h p{
        font-family: 'Patrick Hand', cursive; 
    }

    .text-h img{
        display: grid;
    }
    .my-name{
            font-family: 'Fruktur', cursive; 
            color: teal;
            font-weight: bold;
    }
    .image-h img{
        width: 50vh;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        margin-top: 20px;
    }
    .dw-full{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dw {
        width: 20%;
    }
    nav{
        display: grid;
    }
    nav ul li a{
        margin: 0 10px;
        font-size: 25px;
    }
    .fot{
        display: grid;
    }
    .full-icons{
        margin: 0 auto;
    }
    .menu-img1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-h{
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .dw{
        width: 30%;
    }
    
    
}
/* ////////////////// */
/* footer */
.footer-icons{
    font-size: 50px;
    padding: 5px  10px;
}
footer{
    
    background: teal;
    display: flex;
    justify-content: space-around;
}
.text-footer{
        font-family: 'Mochiy Pop One', sans-serif;
    font-size: 20px;
}
.footer-icons:hover{
    color: orange;
    cursor: pointer;
}
/* footer */




/* for phone*/
@media  (max-width:600px) {
    .text-h{
        margin: 0 auto;
        width: 98%;
        display: grid;
    }
    .menu-img1{
        margin: 0 auto;    
    }
    .full-icons{
        margin: 0 auto;
    }
    .mp{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .my-pic{
        height: 40vh;
        
    }
    .text-h p{
        font-family: 'Patrick Hand', cursive;

    }
    .text-h{
        width: 95%;
    }
    .image-h img{
        height: 20vh;
        width: 30vh;

    }
    .image-h{
        display: grid;
        justify-content: center;
        gap: 5px;
        align-items: center;
    }
    .my-name{
        font-family: 'Fruktur', cursive; 
        color: teal;
    }
    footer{
        display: grid;
        
    }
    .dw-full{
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav ul li{
        display: grid;
    }

}

/* about me page */
/*  */
/*  */
/*  */
.container-a{
    display: flex;
    width: 70%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px 5px;
}
.left-sl{
    background: rgb(31, 175, 219);
    width: 45%;
}
.header-a{
    font-size: 25px;
    margin-left: 5px;
}
.header-r{
    color: rgb(250, 248, 244);
    font-family: 'Mochiy Pop One', sans-serif;
    font-size:  25px;

}
.text-row{
    margin-left: 5px;
}
.text-row span{
    font-family: 'Patrick Hand', cursive;
    font-size: 15px;
}
.left-sl{
    border-radius: 10px 5px;
    margin-left: 5px;
}
.right-sr{
    width: 54%;
    margin-left: 10vh;
    border-radius: 10px 5px;
}
.photo img,video{
    width: 60vh;
}
.describe-myself{
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}
/* /////// */
/* /////// */
/* for phone */
@media (max-width:600px) {
    nav{
        display: grid;
    }
    nav ul li a{
        font-size: 25px;
    }
   
    .menu-img1{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-a{
        width: 100%;
        display: grid;
        
    }
    .container-a .left-sl {
        width: 90%;
        margin: 0 auto;
    }
    .container-a .right-sr {
        width: 70%;
        margin: 0 auto;
    }
    .photo img{
        width: 39vh;
    }
    .photo video{
        width: 39vh;
    }
    .header-a{
        font-family: 'Mochiy Pop One', sans-serif;

    }
    .btn-about{
        padding: 10px 5px;
        border: none;
        border-radius: 10px 5px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    .btn-about i{
        margin-left: 10px;
    }
    .btn-about a{
        text-decoration: none;
        color: white;
    }
    .btn-about:hover{
        background: orange;
    }
    
}
@media (max-width:900px) {
    .container-a{
        display: grid;
        width: 95%;
    }
    .photo{
        display: grid;
        margin: 0 auto;
    }
    nav a img{
        margin: 0 auto;
        width: 100%;
    }
    nav ul li a{
        font-size: 30px;
    }
    .left-sl{
        width: 100%;

    }
    .text-row span{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
    }
    .describe-myself{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    .right-sr{
        display: grid;
        
    }
    .right-sr .header-a{
        color: orange;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 30px;
    }
    .header-a .photo{
        position: relative;
    }
    .photo img{
        width: 4
        50vh;
    }
    .btn-about{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-about a{
        padding: 10px 30px;
        border: none;
        border-radius: 10px 3px;
        text-decoration: none;
        color: white;
        margin-bottom: 5px;
        background: teal;
        display: flex;
        align-items: center;
    }
    footer{
        display: grid;
    }

}
/* for laptop */
@media (min-width:901px) {
    .container-a{
        width: 95%;
    }
    .left-sl{
        width: 90%;
        background: teal;
    }
    .right-sr{
        width: 100%;
    }
    .btn-about{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-a{
        color: orange;
        font-size: 30px;
    }
    .btn-about a{
        padding: 15px 50px;
        border: none;
        border-radius: 10px 3px;
        text-decoration: none;
        color: white;
        margin-bottom: 5px;
        background: teal;
        display: flex;
        align-items: center;
    }
    .photo img,video{
        width: 80vh;
    }
    .fa-download{
        margin-left: 10px;
    }
    .describe-myself{
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    .detail{
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    .text-footer p{
        font-size: 25px;
    }
    .text-row span{
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    nav ul li a{
        font-size: 30px;
    }
    
    
}